@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap");
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  background: no-repeat center url("/img/books-lit@2x-e1550903308223.jpeg");
}

body::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black, rgb(155, 151, 151));
  opacity: 0.4;
  content: "";
}

.my-library {
  font-weight: 500;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 400px;
  border: 1px black solid;
}

.favorite {
}

.favorite__title {
  margin: 0;
  text-align: center;
  background-color: #b0b0b0;
}

.add {
  display: block;

  /* background-color: #eaeaea; */
}

.add__title {
  margin: 0;
  text-align: center;
  background-color: #b0b0b0;
  cursor: pointer;
}

.add__list {
  /* margin: 0; */
  box-sizing: border-box;
}

.add__item-txt {
  display: block;
}

.add__item {
  box-sizing: border-box;
  padding: 5px;
  background-color: #eaeaea;
  cursor: pointer;
}

.upload {
  display: none;
}

.write {
  display: none;

  /* background-color: rgb(199, 167, 131); */
}

.list__book-box {
  position: absolute;
  left: calc(30vw + 10px);
  display: none;
  box-sizing: border-box;
  width: 30vw;
  background-color: #fff;
  border: 1px black solid;
}

.selected {
  opacity: 0.6;
}

.favorite__list {
  min-height: 5vw;
  padding: 0;
  list-style-type: none;
  border: 1px black dotted;
}

.list__box-list {
  padding: 0;
}

.list__item {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  border: 2px black dashed;
}
