body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: 1px black solid;
}

.favorite {
}

.favorite__title {
  margin: 0;
  text-align: center;
  background-color: #b0b0b0;
}

.add {
  display: block;

  /* background-color: #eaeaea; */
}

.add__title {
  margin: 0;
  text-align: center;
  background-color: #b0b0b0;
  cursor: pointer;
}

.add__list {
  /* margin: 0; */
  box-sizing: border-box;
}

.add__item-txt {
  display: block;
}

.add__item {
  box-sizing: border-box;
  padding: 5px;
  background-color: #eaeaea;
  cursor: pointer;
}

.upload {
  display: none;
}

.write {
  display: none;

  /* background-color: rgb(199, 167, 131); */
}

.list__book-box {
  position: absolute;
  left: calc(30vw + 10px);
  display: block;
  box-sizing: border-box;
  width: 30vw;
  background-color: #fff;
  border: 1px black solid;
}

.selected {
  opacity: 0.6;
}

.favorite__list {
  min-height: 5vw;
  padding: 0;
  list-style-type: none;
  border: 1px black dotted;
}

.list__box-list {
  padding: 0;
}

.list__item {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  border: 2px black dashed;
}
